<body>
  <header>
    <div class="photo-social-container">
      <img src="assets/images/photo.png" alt="Andres photo" />
      <p>&#64;Andres Villa</p>
      <div class="socials">
        <a href="https://github.com/ImAndresito" target="_blank"
          ><img src="assets/icons/github.png" alt="github icon"
        /></a>
        <a
          href="https://www.linkedin.com/in/edson-andres-villa-sanchez-78b8a51b7/"
          target="_blank"
          ><img src="assets/icons/linkedin.png" alt="linkedin icon"
        /></a>
        <a href=""
          ><img src="assets/icons/whatsapp.png" alt="instagram icon"
        /></a>
        <a href=""><img src="assets/icons/gmail.png" alt="gmail icon" /></a>
      </div>
    </div>

    <div class="intro">
      <p>Hi 👋, I’m Andres</p>
      <h1 class="gradient-text">Junior Full Stack Developer</h1>
      <p>
        Focused on Front End
        <span style="color: var(--tertiary-color); font-weight: 600"
          >Front End</span
        >
      </p>
      <span>Welcome to my Portfolio!</span>
      <div class="buttons">
        <button>
          Contact Me
          <img src="assets/icons/chat-text.svg" alt="chat text icon" />
        </button>
        <button>My Resume</button>
      </div>
    </div>
  </header>

  <main>
    <p
      style="
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        color: #a089ce;
      "
    >
      What I do
    </p>
    <div class="services">
      <div class="box design">
        <img src="assets/icons/design.png" alt="UI/UX Design" />
        <h3>UI/UX Design</h3>
        <p>Craft beautiful and intuitive user experience.</p>
      </div>
      <div class="box responsiveness">
        <img src="assets/icons/responsiveness.png" alt="Responsiveness" />
        <h3>Responsiveness</h3>
        <p>Fully responsive website.</p>
      </div>
      <div class="box development">
        <img src="assets/icons/development.png" alt="Development" />
        <h3>Development</h3>
        <p>Bringing your vision to life.</p>
      </div>
    </div>
  </main>
</body>
