body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  border: 2px solid blue;
  height: 50%;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.photo {
  position: relative;
}

.photo p {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 26px;
  font-weight: 300;
  font-style: italic;
  color: #9198a1;
  position: absolute;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 23px;
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-57%);
}

.intro {
  background: var(--primary-background);
  border-radius: 25px;
  padding: 15px 20px;
  line-height: 65px;
}

header .intro p,
header .intro h1 {
  font-size: 44px;
}

header .intro p {
  font-weight: 500;
}

header .intro p:first-child {
  font-weight: 500;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 35%,
    #ffffff 45%,
    var(--secondary-color) 55%,
    var(--primary-color) 100%
  );
  background-size: 600% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateGradient 10s linear infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  padding: 12px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #fff;
  background: #000;
}

.buttons button:first-child {
  background: rgba(255, 184, 5, 0.12);
  display: flex;
  align-items: center;
  gap: 10px;
}
