<main>
  <div class="photo-social-container">
    <img src="assets/images/photo.png" alt="Andres photo" />
    <p>&#64;Andres Villa</p>
    <div class="socials">
      <a href="https://github.com/ImAndresito" target="_blank"
        ><img src="assets/icons/github.png" alt="github icon"
      /></a>
      <a
        href="https://www.linkedin.com/in/edson-andres-villa-sanchez-78b8a51b7/"
        target="_blank"
        ><img src="assets/icons/linkedin.png" alt="linkedin icon"
      /></a>
      <a href=""
        ><img src="assets/icons/whatsapp.png" alt="instagram icon"
      /></a>
      <a href=""><img src="assets/icons/gmail.png" alt="gmail icon" /></a>
    </div>
  </div>

  <div class="intro">
    <p>{{ "greeting" | translate }}</p>
    <h1 class="gradient-text">{{ "role" | translate }}</h1>
    <p>
      {{ "focusedOn" | translate }}
      <span style="color: var(--tertiary-color); font-weight: 600"
        >Front End</span
      >
    </p>
    <span>{{ "welcomePortfolio" | translate }}</span>
    <div class="intro-buttons">
      <button>
        {{ "contactMe" | translate }}
        <img src="assets/icons/chat-text.svg" alt="chat text icon" />
      </button>
      <button>{{ "myResume" }}</button>

      <div class="language-selector" (clickOutside)="dropdownOpen = false">
        <button class="language-button" (click)="toggleDropdown()">
          {{ "changeLanguage" | translate }}
          <img
            src="https://flagcdn.com/w40/us.png"
            alt="US flag"
            class="flag"
          />
          <span class="arrow" [class.open]="dropdownOpen">&#9662;</span>
        </button>

        @if(dropdownOpen) {
        <ul class="dropdown">
          @for (lang of languages; track $index) {
          <li (click)="selectLanguage(lang)">
            {{ lang.label }}
            <img class="flag" [src]="lang.flag" alt="{{ lang.label }} flag" />
          </li>
          }
        </ul>
        }
      </div>
    </div>
  </div>
</main>
