main {
  width: 1440px;
  min-height: 380px;
  overflow: hidden;
}

.buttons-container {
  position: relative;
}

/* MOBILE */
@media screen and (max-width: 480px) {
  main {
    width: auto;
    height: auto;
  }
}
