* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1e88e5;
  --secondary-color: #c83e4d;
  /* --secondary-color: #cf9797; */
  --tertiary-color: #fbc02d;
  --primary-background: #151b23;
  --lime-color: #00d722;
}

html {
  font-family: "Montserrat", "Roboto", sans-serif;
  background: #23272e;
}

body {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
