* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1e88e5;
  --secondary-color: #c83e4d;
  --tertiary-color: #fbc02d;
  --background-color: #23272e;
  --test-color: #151b23;
}

html {
  font-family: "Montserrat", "Roboto", sans-serif;
}

body {
  background: var(--background-color);
  color: #fff;
}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
